*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Nunito";
  font: 400 22px/1.36 "Nunito";
  margin: 0;
  color: #282A30;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s;
  color: #282A30;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  display: block;
  width: 100%;
  padding: 26px 55px;
  text-align: center;
  font: 600 22px/1.22 "Montserrat";
  background-color: #F7515C;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #282A30;
}
.btn:focus {
  background-color: rgba(40, 42, 48, 0.8);
}
.btn[disabled], .btn.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.btn-icon {
  background-color: transparent;
  color: #000;
  border: none;
  line-height: 1;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-icon:hover {
  color: #F7515C;
}

.header {
  padding: 71px 0;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  line-height: 0;
}
.header__logo-img {
  max-width: 177px;
  max-height: 48px;
  width: auto;
  height: auto;
}
.header__nav-list {
  display: flex;
  align-items: center;
}
.header__nav-item {
  padding: 0 53px;
}
.header__nav-link {
  font: 400 19px/1.2 "Nunito";
}
.header__nav-link:hover {
  color: #F7515C;
}
.header__actions {
  display: flex;
  align-items: center;
  margin: 0 -42px;
}
.header__action {
  padding: 0 42px;
}

.footer {
  padding: 74px 0 100px;
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 2px solid #282A30;
  padding-top: 100px;
}
.footer__list-title {
  font: 600 26px/1.2 "Montserrat";
  color: #282A30;
  display: block;
  margin-bottom: 51px;
}
.footer__list-title-left {
  margin-bottom: 34px;
}
.footer__list-link {
  font: 400 18px/1.2 "Montserrat";
  color: rgba(40, 42, 48, 0.8);
}
.footer__list-link:hover {
  color: #F7515C;
}
.footer__list-about-us {
  padding: 0 10px;
}
.footer__list-item:not(:last-child) {
  margin-bottom: 27px;
}

.try {
  padding: 160px 0 74px;
}
.try__wrap {
  margin: 0 -109px;
  display: flex;
  align-items: center;
}
.try__wrap-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  padding: 0 109px;
}
.try__wrap-name-title-shadow {
  font: 700 100px/1.22 "Montserrat";
  color: #fff;
  text-shadow: 2px 2px 6px #000;
}
.try__wrap-name-title {
  font: 700 100px/1.22 "Montserrat";
  color: #282A30;
  margin-bottom: 64px;
}
.try__wrap-name-btn {
  max-width: 240px;
  max-height: 90px;
  width: auto;
  height: auto;
}
.try__wrap-mainphoto {
  width: 50%;
  padding: 0 170px 0 109px;
}
.try__wrap-imgs {
  position: relative;
}
.try__wrap-imgs svg {
  position: absolute;
  bottom: 20px;
  right: -65px;
}
.try__wrap-img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}
.try__wrap-img-circle {
  position: absolute;
  z-index: -1;
  top: 300px;
  left: 20px;
}

/*# sourceMappingURL=style.css.map */
