*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Nunito";
  font: 400 22px/1.36 "Nunito";
  margin: 0;
  color: #282A30;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s;
  color: #282A30;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  display: block;
  width: 100%;
  padding: 26px 55px;
  text-align: center;
  font: 600 22px/1.22 "Montserrat";
  background-color: #F7515C;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #282A30;
}
.btn:focus {
  background-color: rgba(40, 42, 48, 0.8);
}
.btn[disabled], .btn.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.btn-icon {
  background-color: transparent;
  color: #000;
  border: none;
  line-height: 1;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-icon:hover {
  color: #F7515C;
}

.header {
  padding: 78px 0;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  line-height: 0;
}
.header__logo-img {
  max-width: 177px;
  max-height: 48px;
  width: auto;
  height: auto;
}
.header__nav-list {
  display: flex;
  align-items: center;
}
.header__nav-item {
  padding: 0 57px;
}
.header__nav-link {
  font: 400 19px/1.2 "Nunito";
}
.header__nav-link:hover {
  color: #F7515C;
}
.header__actions {
  display: flex;
  align-items: center;
  margin: 0 -42px;
}
.header__action {
  padding: 0 42px;
  line-height: 0;
}

.footer {
  padding: 74px 0 100px;
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 2px solid #282A30;
  padding-top: 100px;
  margin: 0 -10px;
}
.footer__list-title {
  font: 600 26px/1.2 "Montserrat";
  color: #282A30;
  display: block;
  margin-bottom: 51px;
}
.footer__list-title-left {
  margin-bottom: 34px;
}
.footer__list-link {
  font: 400 18px/1.2 "Montserrat";
  color: rgba(40, 42, 48, 0.8);
}
.footer__list-link:hover {
  color: #F7515C;
}
.footer__list-about-us {
  padding: 0 10px;
}
.footer__list-item:not(:last-child) {
  margin-bottom: 27px;
}

.heading {
  padding: 20px 0 160px;
}
.heading__wrap {
  display: flex;
  align-items: center;
}
.heading__text {
  width: 59%;
  padding-right: 87px;
}
.heading__img {
  width: 41%;
  padding-right: 36px;
  max-height: 698px;
  position: relative;
}
.heading__img:before {
  position: absolute;
  content: "";
  width: calc(100% - 36px);
  height: 100%;
  right: 0;
  bottom: -65px;
  background-color: rgba(229, 229, 229, 0.1);
  z-index: -2;
}
.heading__img:after {
  position: absolute;
  content: "";
  width: 64%;
  padding-bottom: 41%;
  background-image: url(../img/heading-decor.svg);
  background-repeat: no-repeat;
  right: -42px;
  top: 19px;
  z-index: -1;
}
.heading__images {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.heading__label {
  display: block;
  color: #F7515C;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 45px;
  text-transform: uppercase;
}
.heading__title {
  display: block;
  font: 700 55px/1.45 "Montserrat";
  margin-bottom: 41px;
  letter-spacing: 3px;
}
.heading__btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.heading__btn {
  padding-bottom: 10px;
}
.heading__btn:not(last-child) {
  margin-right: 67px;
}
.heading__btn-watch {
  position: relative;
  font-weight: 600;
  color: #282A30;
  padding: 20px 10px 20px 82px;
}
.heading__btn-watch:before {
  position: absolute;
  content: "";
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.15);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.heading__btn-watch:after {
  position: absolute;
  content: "";
  border: 9px solid transparent;
  border-left: 13px solid currentColor;
  left: 26px;
  top: 50%;
  transform: translateY(-50%);
}

.about {
  padding: 160px 0 103px;
}
.about__wrap {
  display: flex;
  align-items: stretch;
}
.about__img-wrap {
  width: 47%;
  padding: 0 91px 87px 48px;
  position: relative;
}
.about__img-wrap:before {
  content: "";
  position: absolute;
  background-image: url(../img/About-decor-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 76%;
  height: 42%;
  right: 42px;
  bottom: 165px;
  z-index: -1;
}
.about__img-wrap:after {
  content: "";
  position: absolute;
  background-image: url(../img/About-decor.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 36%;
  height: 25%;
  left: 0;
  bottom: 117px;
  z-index: -1;
}
.about__img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.about__img-bg {
  position: absolute;
  background-image: url(../img/About-bg-decor.svg);
  background-repeat: no-repeat;
  width: 84%;
  height: 53%;
  bottom: -79px;
  right: 0;
  z-index: -2;
}
.about__info {
  width: 53%;
  padding-left: 79px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.about__title {
  color: #282A30;
  font: 700 60px/1.22 "Montserrat";
}
.about__title-text {
  font: 700 100px/1.22 "Montserrat";
  color: #fff;
  text-shadow: 0px 0px 4px #000;
  margin-bottom: 55px;
}
.about__text {
  font: 400 22px/1.36 "Nunito";
  color: rgba(40, 42, 48, 0.5);
  margin-bottom: 48px;
  line-height: 2.4;
}
.about__btn {
  max-height: 78px;
  max-width: 230px;
  padding: 26px 52px;
}

.try {
  padding: 160px 0 74px;
}
.try__wrap {
  margin: 0 -109px;
  display: flex;
  align-items: center;
}
.try__wrap-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  padding: 0 109px;
}
.try__wrap-name-title-shadow {
  font: 700 100px/1.22 "Montserrat";
  color: #fff;
  text-shadow: 0px 0px 4px #000;
}
.try__wrap-name-title {
  font: 700 100px/1.22 "Montserrat";
  color: #282A30;
  margin-bottom: 64px;
}
.try__wrap-name-btn {
  max-width: 240px;
  max-height: 90px;
}
.try__wrap-mainphoto {
  width: 50%;
  padding: 0 170px 0 109px;
}
.try__wrap-imgs {
  position: relative;
}
.try__wrap-imgs svg {
  position: absolute;
  bottom: 20px;
  right: -65px;
}
.try__wrap-img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}
.try__wrap-img-circle {
  position: absolute;
  z-index: -1;
  top: 300px;
  left: 20px;
}

/*# sourceMappingURL=style.css.map */
